<html>
	<head>
		<title><%= title %></title>
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	<style>
		body 		{ padding-top:12px; padding-left:100px; align:center}
		a			{ font-size: 20px; color:blue;}
		h1			{ font-size: 30px; padding-left:200px; fac:verdana; color:red;font-weight: bold;}
		marquee		{ font-size: 25px; color:red;}
	</style>
	</head>
	<body>
		<a href="/options" align="center"><img src="/images/bplLogo.png" width="250" height="150"></a>
		</br>
		<marquee  direction="left" scrollamount="5">Now you can submit multiple options with a single button with a limitation that your choosen option will not be shown as selected radio icon..</marquee>
		<div><strong>		
			<a href="/options">Predict Teams  </a> |
			<a href="/options/predictions">Current Predictions  </a> |
			<a href="/options/points">Points Summary  </a>
			
			</br>
			</br>
			
			<a href="/admin">Update Result  </a> |
			<a href="/admin/users">Show Users </a>  |
			<a href="http://bpl.playingitmyway.com/logs">Show Log </a>  |
			<a href="/logout">Logout</a>
			</strong>
		</div>
		<h1><%= title %></h1>