<html>
	<head>
		<title><%= title %></title>
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
		<style>
		body 		{ padding-top:12px; padding-left:100px; align:center}
		h1			{ font-size: 30px; padding-left:150px; fac:verdana; color:red;font-weight: bold;}
		a			{ font-size: 20px; color:blue;}
		marquee		{ font-size: 25px; color:red;}
		.tabledata	{ overflow: auto; border: 1px solid black;}
		.headcol {
		  position: absolute;
		  width: 6.2em;
		  left: 2;
		  top: auto;
		  border-top-width: 2px;
		  /*only relevant for first row*/
		  margin-top: -1px;
		  /*compensate for top border*/
		}
		tr:nth-child(even) {background-color: #FFA500;}
	</style>
	</head>
	<body>
		<a href="/options" align="center" ><img src="/images/bplLogo.png" width="250" height="150" hspace="130"></a>
		</br>
		<marquee  direction="left" scrollamount="5">Now you can submit multiple options with a single button. Optional Bonus is freezed. See the Bonus predictions at the rightmost side of the current predictions !!!.</marquee>
		<div>
			<strong>
			<a href="/options">Predict Teams  </a> | 
			<a href="/options/predictions">Current Predictions  </a> |
			<a href="/options/points">Points Summary  </a> |
			<a href="/logout">Logout</a>
			</strong>
		</div>	
		<h1><%= title %></h1>