<html>
	<head>
		<title><%= title %></title>
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
		<style>
		body 		{ padding-top:10px;background-color: #FAEC91; }
		a			{ font-size: 20px; }
	</style>
	</head>
	<body>
		<div>
			<a href="/options">home</a> | 
			<a href="/options/predictions">current predictions</a> |
			<a href="/options/points">points summary</a> |
			<a href="/logout">logout</a>
		</div>	
		<h1 align="left"><%= title %></h1>