<!DOCTYPE html>
<html>
<head>
	<title>BPL-JNTU</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	

	<style>
		body 		{ padding-top:120px;background-color: #FAEC91; }
		.bg-3 { 
      background-color: #ffffff;
      color: #555555;
  }
  .container-fluid {
      padding-top: 70px;
      padding-bottom: 70px;
  }
  .navbar {
      padding-top: 15px;
      padding-bottom: 15px;
      border: 0;
      border-radius: 0;
      margin-bottom: 0;
      font-size: 12px;
      letter-spacing: 5px;
  }
  .navbar-nav  li a:hover {
      color: #1abc9c !important;
  }
.active>a {
    color: #1abc9c !important;;
  }
	</style>
</head>
<body>
    <div class="container" >
        <div class="col-sm-6 col-sm-offset-3">
            <h1><font face="verdana" color="green"><span class="fa fa-sign-in" ></span> Welcome to BPL-2019</h1>
            <% if (message.length > 0) { %>
                <div class="alert alert-danger"><%= message %></div>
            <% } %>

            <!-- LOGIN FORM -->
            <form action="/login" method="post" >
                <div class="form-group">
                    
                    <input type="text" class="form-control" placeholder="Username"  name="username">
                </div>
                <div class="form-group">
                    
                    <input type="password" class="form-control" placeholder="Password"  name="password">
                </div>
                
                <button type="submit" class="btn btn-warning btn-lg">Login</button>
            </form>

            <hr>

            <!--<p>new user <a href="/signup">register</a></p>-->
        </div>
    </div>
</body>
</html>



